.AddNote {
  cursor: pointer;
  width: 72px;
  height: 72px;
  font-size: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 72px;
  right: calc(14vw - 10px);
  border-radius: 50%;
  background-color: var(--accent);
  color: var(--white);
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.1s;
}

.AddNote:active {
  width: 63px;
  height: 63px;
  font-size: 49px;
  bottom: 77px;
  right: calc(14vw - 5px);
  transition: all 0.1s;
}

.AddNote:active .plus {
  margin-top: -2.75px;
  transition: all 0.1s;
}

.plus {
  margin-top: -4px;
  transition: all 0.1s;
}
